Repository hemanhuntes/SkyManuals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/backend-leads, @organization/web-leads, @organization/mobile-leads, @organization/devops-leads, @organization/product-leads

feat(epic-01): implement structured authoring & collaboration
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/diff-engine/diff-engine.service.spec.ts
  apps/api/src/diff-engine/diff-engine.service.ts
  apps/api/src/manuals/manuals.controller.ts
  apps/api/src/manuals/manuals.service.ts
  apps/api/test/manuals.e2e-spec.ts
  apps/web/app/manuals/[id]/edit/page.tsx
  apps/web/e2e/manual-editor.spec.ts
  docs/EPIC-01.md
  packages/types/src/index.ts
  packages/ui/package.json
  packages/ui/src/components/Editor.tsx
  packages/ui/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat(epic-02): implement configurable review & approval workflows
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/checklist-seed/checklist-seed.service.ts
  apps/api/src/comments/comments.controller.ts
  apps/api/src/comments/comments.service.ts
  apps/api/src/notifications/notification.service.ts
  apps/api/src/pdf-generator/pdf-generator.service.ts
  apps/api/src/tasks/tasks.controller.ts
  apps/api/src/tasks/tasks.service.ts
  apps/api/src/workflows/workflows.controller.ts
  apps/api/src/workflows/workflows.service.ts
  apps/api/test/workflows.e2e-spec.ts
  apps/web/app/review/inbox/page.tsx
  apps/web/app/review/tasks/[id]/page.tsx
  docs/EPIC-02.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat: Implement Epic-03 Distribution & Reader
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/publish-pipeline/publish-pipeline.service.ts
  apps/api/src/reader/reader.controller.ts
  apps/api/src/reader/reader.service.ts
  apps/api/src/search-engine/search-index.service.ts
  apps/api/test/reader.e2e-spec.ts
  apps/web/app/readers/[manualId]/page.tsx
  apps/web/lib/offline-manager.ts
  apps/web/public/sw.js
  docs/EPIC-03.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat: implement Epic-05 AI-driven semantic search
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/compliance/compliance-link.service.ts
  apps/api/src/compliance/compliance.controller.ts
  apps/api/src/compliance/impact-analysis.service.ts
  apps/api/src/compliance/regulation-library.service.ts
  apps/api/src/search/guardrails.service.ts
  apps/api/src/search/indexing.service.ts
  apps/api/src/search/search.controller.ts
  apps/api/src/search/search.service.ts
  apps/api/test/compliance.e2e-spec.ts
  apps/api/test/search.e2e-spec.ts
  apps/web/app/compliance/dashboard/page.tsx
  apps/web/app/compliance/impact-analysis/page.tsx
  apps/web/app/compliance/link-picker/page.tsx
  apps/web/app/search/ask/page.tsx
  apps/web/components/search/ask-box.tsx
  docs/EPIC-05.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat(xml): implement XML ingest and authoring Epic-06
  apps/api/prisma/schema.prisma
  apps/api/src/xml/xml-diff.service.ts
  apps/api/src/xml/xml-exporter.service.ts
  apps/api/src/xml/xml-mapper.service.ts
  apps/api/src/xml/xml-parser.service.ts
  apps/api/src/xml/xml.controller.ts
  apps/api/test/xml-services.spec.ts
  apps/api/test/xml.e2e-spec.ts
  apps/web/app/xml/diff/page.tsx
  apps/web/app/xml/export/page.tsx
  apps/web/app/xml/import/page.tsx
  apps/web/components/xml/index.tsx
  docs/EPIC-06.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat(efb): implement Epic-07 EFB app & device controls
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/efb/device.service.ts
  apps/api/src/efb/efb.controller.ts
  apps/api/src/efb/offline-cache.service.ts
  apps/efb/App.tsx
  apps/efb/components/ManualReader.tsx
  apps/efb/package.json
  apps/efb/services/auth.service.ts
  apps/efb/services/cache-manager.service.ts
  docs/EPIC-07.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/mobile-leads, @organization/web-leads, @organization/product-leads

feat(efb): complete Epic-07 with admin UI and comprehensive tests
  apps/api/test/efb-services.spec.ts
  apps/api/test/efb.e2e-spec.ts
  apps/web/app/admin/devices/page.tsx
Owners: @organization/backend-leads, @organization/web-leads

feat(iam): implement Epic-08 User/Admin management & audit
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/audit/audit.service.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.guard.ts
  apps/api/src/auth/oidc.service.ts
  apps/api/test/iam-audit.e2e-spec.ts
  apps/web/app/admin/users/page.tsx
  apps/web/components/OrgSwitcher.tsx
  apps/web/src/middleware.ts
  docs/EPIC-08.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat(store): implement Epic-09 Add-on Store
  apps/api/prisma/schema.prisma
  apps/api/src/addons/addon.controller.ts
  apps/api/src/addons/addon.service.ts
  apps/api/src/addons/hook-execution.service.ts
  apps/api/src/addons/seeds/example-addons.ts
  apps/api/src/app.module.ts
  apps/api/test/addon-store.e2e-spec.ts
  apps/web/app/admin/addons/page.tsx
  docs/EPIC-09.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

feat(nfr): implement Epic-10 Cross-cutting NFRs
  .github/workflows/dependency-audit.yml
  .github/workflows/nightly-backups.yml
  .github/workflows/performance-tests.yml
  apps/api/src/observability/observability.interceptor.ts
  apps/api/src/observability/telemetry.service.ts
  apps/api/src/security/rate-limit.guard.ts
  apps/api/src/security/security.interceptor.ts
  docs/SLOS.md
  scripts/backup-database.sh
  tests/load/performance-tests.js
Owners: @organization/devops-leads, @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

docs(epic-10): add comprehensive documentation and type definitions
  apps/api/src/manuals/manuals.controller.ts
  docs/EPIC-10.md
  packages/types/src/index.ts
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads, @organization/mobile-leads

test(epic-10): add comprehensive test coverage for security and observability
  apps/api/src/observability/telemetry.service.spec.ts
  apps/api/src/security/rate-limit.guard.spec.ts
  apps/api/src/security/security.interceptor.spec.ts
  apps/api/test/security.e2e-spec.ts
Owners: @organization/backend-leads

feat(aviation-compliance): implement comprehensive aviation requirements
  apps/api/prisma/schema.prisma
  apps/api/src/audit/audit-log.service.ts
  docs/EFB-OFFLINE-SYNC-STRATEGY.md
  docs/MONITORING-SLO-DOCUMENTATION.md
  docs/PRODUCTION-READINESS-CHECKLIST.md
Owners: @organization/backend-leads, @organization/web-leads, @organization/product-leads

docs: address critical architecture and contributing feedback
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
Owners: @organization/web-leads, @organization/product-leads

🚀 Complete SkyManuals Implementation - Production Ready
  bff/auth-middleware.js
  bff/frontend/auth/login.html
  bff/frontend/auth/test.html
  bff/frontend/upload/index.html
  bff/frontend/viewer/debug.html
  bff/frontend/viewer/index.html
  bff/package-lock.json
  bff/package.json
  bff/server.js
  bff/services/ad-integration.service.js
  bff/uploads/manual-1759694524654-test-manual.pdf
  bff/uploads/manual-1759694697982-aviation-manual.pdf
  bff/uploads/manual-1759694817027-Muntra_AB-bokslut-2022-12__1_.pdf
  bff/uploads/manual-1759694836498-Muntra_AB-bokslut-2022-12__1_.pdf
  bff/uploads/manual-1759695052326-new-manual.pdf
  bff/uploads/manual-1759695064463-falsterbo_banguide_user_urls_v2.pdf
  bff/uploads/manual-1759695148084-Muntra_AB-bokslut-2022-12__1_.pdf
Owners: @organization/backend-leads, @organization/web-leads, @organization/mobile-leads

.github/CODEOWNERS:

# Global admins
* @organization/backend-leads @organization/web-leads @organization/mobile-leads

# Backend ownership
apps/api/ @organization/backend-leads
*.prisma @organization/backend-leads
Dockerfile @organization/backend-leads @organization/devops-leads
docker-compose.yml @organization/backend-leads @organization/devops-leads

# Web ownership  
apps/web/ @organization/web-leads
tailwind.config.js @organization/web-leads
next.config.js @organization/web-leads

# Mobile ownership
apps/efb/ @organization/mobile-leads
*.json @organization/mobile-leads

# Shared packages
packages/ @organization/web-leads @organization/mobile-leads @organization/backend-leads

# Infrastructure and DevOps
.github/ @organization/devops-leads @organization/backend-leads
docs/ @organization/web-leads @organization/product-leads
